#sec1{
    background-color: orange;
    text-align: center;
    width: 30%;
    display: flex;
    justify-content: center;
}
#sec3{
    text-align: center;
    width: 30%;
}
.tit{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.tit2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.caja{
    border-radius: 5px;
}
.div1{
    text-align: center;
    width: 30%;
    justify-content: center;
}
.bot{
    border-radius: 9px;
    background-color: orange;
    color: white;
    border-color: white;
}